.App {
  text-align: center;
  margin-top: 20px;
}

#message {
  margin-right: 10px;
  border: 4px cyan solid;
  margin-top: 20px;
}

.red {
  color: red;
}

.black {
  color: black
}

footer {
  text-align: center;
}